<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Questions</title>
    <link rel="stylesheet" href="css/Gq.css">
</head>
<body>
    <nav>
        <h2>Prep-Hub</h2>
        <div class="text">
            <div class="button"><a href="/">Home</a></div>
            <div class="button"><a href="/companies">Questions</a></div>

        </div>
    </nav>

    <div class="container">
        <h2 class="title">Top 10 Interview Questions</h2>
        
        <table class="question-table">
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Difficulty</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="https://www.geeksforgeeks.org/problems/missing-number-in-array1416/1?page=1&company=Amazon&sortBy=submissions">Missing in Array
                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.geeksforgeeks.org/problems/subarray-with-given-sum-1587115621/1?page=1&company=Amazon&sortBy=submissions">Indexes of Subarray Sum</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.geeksforgeeks.org/problems/trapping-rain-water-1587115621/1?page=2&company=Amazon&sortBy=submissions">Trapping Rain Water</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="https://www.geeksforgeeks.org/problems/detect-loop-in-linked-list/1?page=1&company=Amazon&sortBy=submissions">Detect Loop in linked list
                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="https://www.geeksforgeeks.org/problems/nth-node-from-end-of-linked-list/1?page=2&company=Amazon&sortBy=submissions">Kth from End of Linked List
                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="https://www.geeksforgeeks.org/problems/maximum-of-all-subarrays-of-size-k3101/1?page=2&company=Amazon&sortBy=submissions">K Sized Subarray Maximum</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="https://www.geeksforgeeks.org/problems/reverse-a-linked-list-in-groups-of-given-size/1?page=6&company=Amazon&sortBy=submissions">Reverse a Linked List in Groups
                </a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="https://www.geeksforgeeks.org/problems/lru-cache/1?page=8&company=Amazon&sortBy=submissions">LRU Cache</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="https://www.geeksforgeeks.org/problems/count-number-of-hops-1587115620/1?page=8&company=Amazon&sortBy=submissions">Count number of hops
                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="https://www.geeksforgeeks.org/problems/next-permutation5226/1?page=9&company=Amazon&sortBy=submissions">Next Permutation</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
        </table>
    </div>

</body>
</html>