<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Page</title>
    <link rel="stylesheet" href="css/web3.css">
    <script src="https://kit.fontawesome.com/40dbd1e2da.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Our Developers</h1>
        <div class="developers">
            <div class="row">
                <div class="developer">
                    <img src="images(t2)/vaish.jpg" alt="Vaishnavi">
                
                <div class="info">
                    <h2>Vaishnavi Katkar</h2>
                    <div class="social-links">
                        <a href="https://www.instagram.com/vaishnavik_0805?igsh=MW1rNXBhNXk4YTE0bg==">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/vaishnavi-katkar-7a6255267/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="mailto:vaishnavi.katkar33@gmail.com">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                <div class="developer">
                    <img src="images(t2)/chetna.jpg" alt="Vaishnavi">
                
                <div class="info">
                    <h2>Chetna Ghengare</h2>
                    <div class="social-links">
                        <a href="">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
                <div class="developer">
                    <img src="images(t2)/ved.jpg" alt="Vaishnavi">
                
                <div class="info">
                    <h2>Vedika Dhende</h2>
                    <div class="social-links">
                        <a href="">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>