<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Questions</title>
    <link rel="stylesheet" href="css/Gq.css">
</head>
<body>
    <nav>
        <h2>Prep-Hub</h2>
        <div class="text">
            <div class="button"><a href="/">Home</a></div>
            <div class="button"><a href="/companies">Questions</a></div>
        </div>
    </nav>

    <div class="container">
        <h2 class="title">Top 10 Interview Questions</h2>
        
        <table class="question-table">
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Difficulty</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="https://www.geeksforgeeks.org/problems/count-pairs-with-given-sum5022/1?page=1&company=Flipkart&sortBy=submissions">Count pairs with given sum

                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.geeksforgeeks.org/problems/detect-cycle-in-an-undirected-graph/1?page=1&company=Flipkart&sortBy=submissions">Undirected Graph Cycle

                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.geeksforgeeks.org/problems/trapping-rain-water-1587115621/1?page=1&company=Flipkart&sortBy=submissions">Trapping Rain Water
                </a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="https://www.geeksforgeeks.org/problems/next-larger-element-1587115620/1?page=1&company=Flipkart&sortBy=submissions">Next Greater Element

                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="https://www.geeksforgeeks.org/problems/anagram-1587115620/1?page=1&company=Flipkart&sortBy=submissions">Anagram

                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="https://www.geeksforgeeks.org/problems/k-th-element-of-two-sorted-array1317/1?page=2&company=Flipkart&sortBy=submissions">K-th element of two Arrays
                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="https://www.geeksforgeeks.org/problems/alien-dictionary/1?page=5&company=Flipkart&sortBy=submissions">Alien Dictionary
                </a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="https://www.geeksforgeeks.org/problems/nodes-at-given-distance-in-binary-tree/1?page=5&company=Flipkart&sortBy=submissions">Nodes at given distance in binary tree

                </a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="https://www.geeksforgeeks.org/problems/length-unsorted-subarray3022/1?page=8&company=Flipkart&sortBy=submissions">Sort Unsorted Subarray


                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="https://www.geeksforgeeks.org/problems/find-rectangle-with-corners-as-1--141631/1?page=8&company=Flipkart&sortBy=submissions">Find rectangle with corners as 1

                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
        </table>
    </div>

</body>
</html>