<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrepHub-Companies</title>
    <link rel="stylesheet" href="css/interview.css">
</head>
<body>
    <div class="cards-container">
        <div class="card">
            <img src="images(t2)/google.jpg" alt="Google Logo"> 
            <a href=" /Google"><h3>Google</h3> </a> 
            
            
        </div>
        <div class="card">
            <img src="images(t2)/amazon.jpg" alt="Amazon Logo">
            <a href=" /Amazon"> <h3>Amazon</h3> </a> 
            
        </div>
        <div class="card">
            <img src="images(t2)/microsoft-icon.jpg" alt="Seiemens Logo">
            <a href=" /Microsoft"> <h3>Microsoft</h3> </a> 
            
        </div>
        <div class="card">
            <img src="images(t2)/flippp.png" alt="Flipkart Logo">
            <a href=" /Flipkart"> <h3>Flipkart</h3> </a> 
            
        </div>
        <div class="card">
            <img src="images(t2)/phone.png" alt="phonepe Logo">
            <a href=" /Paytm"> <h3>Phonepe</h3> </a> 
            
        </div>
        <div class="card">
            <img src="images(t2)/sam.png" alt="Samsung Logo">
            <a href=" /Samsung"> <h3>Samsung</h3> </a> 
        </div>
        
    </div>
</body>
</html>