<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google-q</title>
    <link rel="stylesheet" href="css/Gq.css">
</head>
<body>
    <nav>
        <h2>Prep-Hub</h2>
        <div class="text">
            <div class="button"><a href="/">Home</a></div>
            <div class="button"><a href="/companies">Questions</a></div>
        </div>
    </nav>

    <div class="container">
        <h2 class="title">Top 10 Interview Questions</h2>
        
        <table class="question-table">
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Difficulty</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="https://www.geeksforgeeks.org/problems/missing-number-in-array1416/1?page=1&company=Microsoft&sortBy=submissions">Missing in Array</a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.geeksforgeeks.org/problems/sort-an-array-of-0s-1s-and-2s4231/1?page=1&company=Microsoft&sortBy=submissions">Sort 0s, 1s and 2s</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.geeksforgeeks.org/problems/merge-two-sorted-arrays-1587115620/1?page=1&company=Microsoft&difficulty=Hard&sortBy=submissions">Merge Without Extra Space</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="https://www.geeksforgeeks.org/problems/majority-element-1587115620/1?page=1&company=Google&sortBy=submissions">Majority Element</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="https://www.geeksforgeeks.org/problems/rotate-array-by-n-elements-1587115621/1?page=1&company=Microsoft&difficulty=Easy&sortBy=submissions">Rotate Array</a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="https://www.geeksforgeeks.org/problems/0-1-knapsack-problem0945/1?page=1&company=Microsoft&difficulty=Medium&sortBy=submissions">0 - 1 Knapsack Problem</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="https://www.geeksforgeeks.org/problems/maximum-path-sum/1?page=1&company=Microsoft&difficulty=Hard&sortBy=submissions">Maximum Path Sum between 2 Special Nodes</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="https://www.geeksforgeeks.org/problems/palindromic-patitioning4845/1?page=1&company=Microsoft&difficulty=Hard&sortBy=submissions">Palindromic Partitioning</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="https://www.geeksforgeeks.org/problems/check-for-bst/1?page=1&company=Microsoft&difficulty=Easy&sortBy=submissions">Check for BST</a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="https://www.geeksforgeeks.org/problems/minimum-platforms-1587115620/1?page=1&company=Microsoft&difficulty=Medium&sortBy=submissions">Minimum Platforms</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
        </table>
    </div>

</body>
</html>