<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google-q</title>
    <link rel="stylesheet" href="css/Gq.css">
</head>
<body>
    <nav>
        <h2>Prep-Hub</h2>
        <div class="text">
            <div class="button"><a href="/">Home</a></div>
            <div class="button"><a href="/companies">Questions</a></div>
        </div>
    </nav>

    <div class="container">
        <h2 class="title">Top 10 Interview Questions</h2>
        
        <table class="question-table">
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Difficulty</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="https://www.geeksforgeeks.org/problems/find-duplicates-in-an-array/1?page=1&company=Paytm&difficulty=Easy&sortBy=submissions">Array Duplicates</a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.geeksforgeeks.org/problems/longest-common-subsequence-1587115620/1?page=1&company=Paytm&difficulty=Medium&sortBy=submissions">Longest Common Subsequence</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.geeksforgeeks.org/problems/lru-cache/1?page=1&company=Paytm&difficulty=Hard&sortBy=submissions">LRU Cache</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="https://www.geeksforgeeks.org/problems/spirally-traversing-a-matrix-1587115621/1?page=1&company=Paytm&difficulty=Medium&sortBy=submissions">Spirally traversing a matrix</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="https://www.geeksforgeeks.org/problems/left-view-of-binary-tree/1?page=1&company=Paytm&difficulty=Easy&sortBy=submissions">Left View of Binary Tree</a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="https://www.geeksforgeeks.org/problems/stock-buy-and-sell-1587115621/1?page=1&company=Paytm&difficulty=Medium&sortBy=submissions">Stock buy and sell</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="https://www.geeksforgeeks.org/problems/fixing-two-swapped-nodes-of-a-bst--170646/1?page=1&company=Paytm&difficulty=Hard&sortBy=submissions">Fixing Two swapped nodes of a BST</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="https://www.geeksforgeeks.org/problems/count-occurences-of-a-given-word-in-a-2-d-array/1?page=1&company=Paytm&difficulty=Hard&sortBy=submissions">Count occurrences of a given word in a 2-d array</a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="https://www.geeksforgeeks.org/problems/wave-array-1587115621/1?page=1&company=Paytm&difficulty=Easy&sortBy=submissions">Wave Array</a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="https://www.geeksforgeeks.org/problems/find-the-number-of-islands/1?page=1&company=Paytm&difficulty=Medium&sortBy=submissions">Find the number of islands</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
        </table>
    </div>

</body>
</html>