<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Questions</title>
    <link rel="stylesheet" href="css/Gq.css">
</head>
<body>
    <nav>
        <h2>Prep-Hub</h2>
        <div class="text">
            <div class="button"><a href="/">Home</a></div>
            <div class="button"><a href="/companies">Questions</a></div>
        </div>
    </nav>

    <div class="container">
        <h2 class="title">Top 10 Interview Questions</h2>
        
        <table class="question-table">
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Difficulty</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="https://www.geeksforgeeks.org/problems/left-view-of-binary-tree/1?page=1&company=Samsung&sortBy=submissions">Left View of Binary Tree
                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.geeksforgeeks.org/problems/sort-an-array-of-0s-1s-and-2s4231/1?page=1&company=Samsung&sortBy=submissions">Sort 0s, 1s and 2s
                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.geeksforgeeks.org/problems/minimum-sum-partition3317/1?page=3&company=Samsung&sortBy=submissions">Minimum sum partition
                </a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="https://www.geeksforgeeks.org/problems/finding-the-numbers0215/1?page=3&company=Samsung&sortBy=submissions">Non Repeating Numbers

                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="https://www.geeksforgeeks.org/problems/kth-largest-element-in-bst/1?page=2&company=Samsung&sortBy=submissions">Kth largest element in BST

                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="https://www.geeksforgeeks.org/problems/implementing-floyd-warshall2042/1?page=3&company=Samsung&sortBy=submissions">Floyd-Warshall</a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="https://www.geeksforgeeks.org/problems/find-median-in-a-stream-1587115620/1?page=3&company=Samsung&sortBy=submissions">Find median in a stream

                </a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="https://www.geeksforgeeks.org/problems/max-rectangle/1?page=4&company=Samsung&sortBy=submissions">Max rectangle
                </a></td>
                <td><span class="tag hard">Hard</span></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="https://www.geeksforgeeks.org/problems/k-distance-from-root/1?page=4&company=Samsung&sortBy=submissions">K distance from root

                </a></td>
                <td><span class="tag easy">Easy</span></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="https://www.geeksforgeeks.org/problems/column-name-from-a-given-column-number4244/1?page=4&company=Samsung&sortBy=submissions">Column name from a given column number
                </a></td>
                <td><span class="tag intermediate">Intermediate</span></td>
            </tr>
        </table>
    </div>

</body>
</html>