* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}
nav {
    background-color:  #fafafa;;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    color: black;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: black;
    margin: 2;
    padding-left: 20px;
    padding-right: 20px;
}

nav .text {
    display: flex;
    padding-right: 20px;
}

nav .text div {
    margin-left: 2rem;
}

nav .text .button a{
    color: black;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration :none;
}

nav .text .button a:hover {
    background-color: skyblue;
}

.signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-left: 580px;
    margin-top: 80px;
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 700;
    color: #333;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.input-container input {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    background: transparent;
}

.input-container label {
    position: absolute;
    left: 0;
    top: 16px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -10px;
    left: 0;
    font-size: 12px;
    color: #a45ee5;
}

.input-container input:hover + label {
    color: #7b42b3;
}

.signup-container button {
    width: 100%;
    padding: 15px;
    background-color:#9b59b6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.signup-container button:hover {
    background-color: #71b7e6
}